<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Пользователи
    </ng-template>
    <app-users (user)="onUpdate($event)"
               (newUser)="createUser($event)"
               [roles]="roles$ | async"
               [users]="users$ | async"></app-users>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Роли
    </ng-template>
    <app-roles></app-roles>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Разрешения
    </ng-template>

    <app-permissions></app-permissions>
  </mat-tab>
</mat-tab-group>

