
<ng-container *ngIf="subChapter$ | async as subChapter">
  <h2>{{ subChapter.nameForUI }}</h2>
  <h3>Подразделы</h3>
  <div class="sub-chapters">
    <ng-container *ngIf="subChapter.children">
      <ng-container *ngFor="let sC of subChapter.children">
      <span class="sub-chapter" (click)="selectSubChapter(sC._id!)">
        {{ sC.nameForUI }}
      </span>
      </ng-container>
    </ng-container>

  </div>
</ng-container>


<div class="list-photo">
  <ng-container *ngIf="photos$ | async as photos">
    <ng-container *ngFor="let photo of photos">

      <div class="photo">
        <app-photo [imageSrc]="photo"></app-photo>
      </div>
    </ng-container>
  </ng-container>
</div>


