@use "../../../../mixins";

:host {
  display: block;
  max-width: 100%;
  padding: 0 30px;
  height: 100%;
}

.container {
  display: grid;
  //height: 100%;
  height: calc(100vh - 145px);
  grid-template-columns: 0 1fr;
  transition: grid-template-columns 0.3s ease;

  .side-bar {
    opacity: 0;
    overflow: hidden;
    //overflow-y: scroll;
    overflow-y: auto;
    background-color: #707070;
  }

  &.open {
    grid-template-columns: 300px 1fr;

    .side-bar {
      opacity: 1;
    }
  }

  .search-wrapper {
    display: inline-flex;
    margin-left: auto;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 15px;
  gap: 15px;


  .empty {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: rgb(107, 113, 127);
  }

  app-photo, app-video {
    overflow: hidden;
  }

  app-pdf {
    height: 200px;
    overflow-y: scroll;
  }
}

.table {
  display: grid;
  grid-template-columns: 60px minmax(200px, 1fr) 150px;
  gap: 30px;
  grid-auto-rows: auto;

  .media-column {
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
    }

    video {
      width: 100%;
    }
  }

  .desc-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date-column {

  }

  .empty {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: rgb(107, 113, 127);
  }
}

.sub-chapters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .sub-chapter {
    cursor: pointer;
    font-size: 20px;
    border: 1px solid blue;
    padding: 10px 20px;
    margin-right: 25px;
    border-radius: 5px;
    color: blue;
  }
}

h2, h3 {
  display: flex;
  justify-content: center;
}

//.root-chapter {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  font-size: 30px;
//  color: darkblue;
//}

.header {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.change-size {
  margin-top: auto;
  position: sticky;
  bottom: 0; /* Sticks to the bottom of the viewport */
  z-index: 20;
  background-color: cornflowerblue;
}

@include mixins.large {
  .container {

  }

  .gallery {

  }

  .sub-chapters {

  }
}

.switch-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.search-title {
  text-align: left;
  justify-content: flex-start;
}

.thumbnail {
  max-width: 150px;
  cursor: pointer;
}

.pdf-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
