<div class="container">

  <div class="side-bar">
    <ng-container  [formGroup]="selectChapter">
      <app-tree-chapters formControlName="chapter" [chapters]="allChapters$ | async"></app-tree-chapters>
    </ng-container>
  </div>


  <div class="content">
<!--    <div>-->
<!--      <app-search [formControl]="search"></app-search>-->
<!--    </div>-->
    <ng-container *ngIf="subChapter$ | async as subChapter">
<!--      <div class="header"><h2>{{ subChapter.nameForUI }}</h2><button (click)="goBack(subChapter.parent)" mat-button color="primary">назад</button></div>-->
      <div class="header"><h2>{{ subChapter.nameForUI }}</h2></div>

      <ng-container *ngIf="subChapter.parent">
        <button mat-button color="primary" (click)="goBack(subChapter.parent)">вернуться к разделу {{ subChapter.parentTitle }}</button>
      </ng-container>


<!--  if subChapters are    -->
      <ng-container *ngIf="subChapter.children">
        <h3>{{ subLevels }}</h3>
        <div class="sub-chapters">
            <ng-container *ngFor="let sC of subChapter.children">
              <button  mat-button color="primary" (click)="selectSubChapter(sC._id!)">
                {{ sC.nameForUI }}
              </button>
            </ng-container>

        </div>
      </ng-container>
<!--   end of if subChapters are   -->

    </ng-container>


    <ng-container *ngIf="{
      sizeA: (sizeOfScale$ | async),
      photos: photos$ | async
    } as state;">
<!--      <div #gallery [ngClass]="{ gallery: state.sizeA === 1, flex: state.sizeA === 2 }">-->
      <div #gallery class="gallery">
        <ng-container *ngIf="state.photos && !!state.photos?.length; else empty">
          <ng-container *ngFor="let photo of state.photos">
            <app-photo [appEnlarge]="state.sizeA"
                       [appSetHeight]="computeGridStyle$ | async"
                       (click)="openFullSize($event, photo!)"
                       (updatedPhoto)="onPhotoUpdate($event)"
                       (imageLoaded)="onImageLoad()"
                       [imageSrc]="photo"></app-photo>
          </ng-container>
        </ng-container>
      </div>

      <ng-container *ngIf="state.photos && !!state.photos?.length">
        <div class="change-size">
          <app-range-size [formControl]="size"></app-range-size>
        </div>
      </ng-container>


    </ng-container>

  </div>

</div>


<ng-template #empty>
  <div class="empty"> Здесь еще нет фото и видео :)</div>

</ng-template>
