<div class="view-settings">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'sort_items' | translate }}</mat-panel-title>
        <mat-panel-description>
          {{ (panelOpenState() ? 'close' : 'open') | translate }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="settings">
        <mat-button-toggle-group
          name="settings"
          aria-label="settings"
          [hideMultipleSelectionIndicator]="true"
          (change)="onChange($event)"
        >
          <mat-button-toggle value="desc">{{ 'desc' | translate }}</mat-button-toggle>
          <mat-button-toggle value="asc">{{ 'asc' | translate }}</mat-button-toggle>
          <mat-button-toggle value="random">{{ 'random' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
