.user-list {
  display: flex;
  flex-wrap: wrap;

}

h1 {
  text-align: center;
}

.user {
  flex: 1 1 calc(33.33%); /* Each item takes 1/3 of the container's width, accounting for gap */
  max-width: calc(33.33%); /* Ensure items don’t grow beyond 1/3 of the row */

  .header-user {
    display: flex;
    align-items: center;justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .user {
    flex: 1 1 calc(50% - 16px); /* 2 columns */
  }
}

@media (max-width: 480px) {
  .user {
    flex: 1 1 100%; /* 1 column */
  }
}
