<div class="users">
  <h1>список ролей</h1>
  <div class="add-user">
    <button  mat-button (click)="addRole()">Добавить роль</button>
  </div>
  <div class="user-list">
    <ng-container *ngFor="let role of roles">
      <div class="user">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="user-content">
              <div class="header-user">
                <span>{{ role?.name }}</span>
                <span>
                  <button mat-icon-button (click)="editRole(role?._id)">
                     <mat-icon>edit</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </ng-container>
  </div>
</div>

