<div class="users">
  <h1>{{ 'list_of_roles' | translate }}</h1>
  <div class="add-user">
    <button  mat-button (click)="addRole()">{{ 'to_add_role' | translate }}</button>
  </div>
  <div class="user-list">
    @for (role of roles; track role) {
      <div class="user">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="user-content">
              <div class="header-user">
                <span>{{ role?.displayName }}</span>
                <span>
                  <button mat-icon-button (click)="editRole(role?._id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>

