<ng-container [formGroup]="addPhotoForm" >
  <div class="add-photo-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>название </mat-label>
      <input formControlName="name" matInput>
      <mat-error *ngIf="addPhotoForm?.get('name')?.hasError('required')">название обязательно указать</mat-error>
    </mat-form-field>

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>расширение (jpeg, png, ...)</mat-label>-->
<!--      <mat-select>-->
<!--        <ng-container *ngFor="let ext of photoExtensions; index as i">-->
<!--          <mat-option [value]="ext">-->
<!--            {{ ext }}-->
<!--          </mat-option>-->
<!--        </ng-container>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

    <mat-form-field appearance="fill">
      <mat-label>раздел</mat-label>
      <mat-select formControlName="chapter">
        <ng-container *ngFor="let chapterA of photoChapters$ | async; index as i">
          <mat-option [value]="chapterA._id">
            {{ chapterA.nameForUI }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field class='description' appearance="fill">
      <mat-label>краткое описание</mat-label>
      <textarea  formControlName="description"
                 matInput
                 cdkTextareaAutosize
                 #autosize="cdkTextareaAutosize"
                 cdkAutosizeMinRows="1"
                 cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>


    <div class="description">
      <label class="file">
        <mat-icon>attach_file</mat-icon>
        <span>выбери файл с диска</span>
        <input #upload class='file' id="upload-photo" type="file"  accept="image/*" (change)="uploadPhoto($event)">
      </label>

      <button mat-icon-button
              [color]="'default'"
              (click)="upload.click()">
        <mat-icon [ngClass]="'material-icons-outlined'">file_upload</mat-icon>
      </button>
      <span>выбери файл</span>
    </div>

  </div>

  <div class="actions">
    <p class="description">Чтобы активизировать кнопку, заполни все обязательные поля *</p>
    <button mat-button color="primary" (click)="addPhoto()" [disabled]="addPhotoForm.invalid">
      Добавить фото
    </button>
  </div>

</ng-container>

<button mat-button color="primary" (click)="cancel()">
  Закрыть
</button>
