<ng-container [formGroup]="user">

  <div>
    <app-select-role formControlName="role" [roles]="roles$ | async"></app-select-role>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="close()">Закрыть</button>
    <button mat-button [mat-dialog-close]="user.value" [disabled]="!user.valid" cdkFocusInitial>Сохранить</button>
  </div>
</ng-container>
