.content {
  max-width: 90%;
  transform: scale(1);
  &:hover {
    transform: scale(1.3);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;

    //&:hover {
    //  transform: scale(1.3);
    //}
  }

  .edit {
    display: flex;
  }
}
