<div class="content">
  <img class="img" (load)="onLoad()" [src]="image" alt="image"/>
  @if (photo$ | async; as ph) {
    <div class="description">
      <span class="desc">
        {{ ph.description }}
      </span>
      <div class="date">
        {{ (ph.date || '') | date: 'yyyy-MM-dd' }}
      </div>
    </div>
  }

  <div class="edit">
    <button (click)="edit($event)" mat-button color="primary">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="date">

  </div>
</div>
