<ng-container [formGroup]="addChapterForm" >
  <div class="add-photo-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>название папки, только латинскими буквами, например, LETO1990  </mat-label>
      <input formControlName="latinname" matInput>
      <mat-error *ngIf="addChapterForm?.get('latinname')?.hasError('required')">название нового раздела обязательно указать</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>название для отображения в браузере </mat-label>
      <input formControlName="name" matInput>
      <mat-error *ngIf="addChapterForm?.get('name')?.hasError('required')">название нового раздела обязательно указать</mat-error>
    </mat-form-field>

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>главный раздел</mat-label>-->
<!--      <app-tree-chapters formControlName="parentChapter"></app-tree-chapters>-->
<!--      <mat-select formControlName="parentChapter">-->
<!--        <ng-container *ngFor="let chapterA of photoChapters$ | async; index as i">-->
<!--          <mat-option [value]="chapterA._id">-->
<!--            {{ chapterA.nameForUI }}-->
<!--          </mat-option>-->
<!--        </ng-container>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

  </div>


  <div class="center">Выбери каталог, если хочешь добавить подкаталог</div>
  <div class="tree-chapters">
    <app-tree-chapters
      [chapters]="photoChapters$ | async"
      formControlName="parentChapter"></app-tree-chapters>
  </div>

  <div class="actions">
    <p class="description">Чтобы активизировать кнопку, введи название нового каталога *</p>
    <button mat-button color="primary" (click)="addChapter()" [disabled]="addChapterForm.invalid">
      Добавить раздел
    </button>
  </div>

</ng-container>

<button mat-button color="primary" (click)="cancel()">
  Закрыть
</button>
