.chapters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 400px;

  .chapter {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 45%;
    padding: 15px;
    font-size: 32px;
    box-shadow: 2px 2px 3px 3px darkblue;
    height: 10em;
    color: cornflowerblue;
    cursor: pointer;
    margin-bottom: 20px;
    //&:not(:nth-child(3n)) {
    //  margin-right: 10px;
    //}

    span {
      line-height: 1.2;
    }
  }
}
