/* You can add global styles to this file, and also import other style files */
@use 'assets/mixin';
@use 'mixins';
@use 'theme';

html, body { height: 100vh; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  background-color: #000000; // or your desired light background
  color: #ffffff;
}
*, *::after, *:before {
  box-sizing: border-box;
}
.center {
  @include mixin.align-center;
}

.dialog-default {
  background-color: pink;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: darkslateblue;
  border-radius: 10px;
}

.add-photo-wrapper {
  .mat-mdc-form-field {
    display: block;
  }
}

.select-chapter {
  cursor: pointer;
}

.cdk-global-overlay-wrapper {
  background-color: #9A907070;
}

.full-size-photo {
  width: 90vw !important;
  height: 90vh;

  .mat-mdc-dialog-surface  {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  div.mdc-dialog__container {
    transform: scale(1) !important;
  }

  .mat-mdc-dialog-actions {
    transform: translateX(-15px);
  }
}
.mat-mdc-menu-panel {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-menu-content {
  display: flex;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.mat-tree {
  background-color: black !important;
}

.mat-tree-node, .mat-nested-tree-node {
  //color: wheat !important;
  color: rgb(107, 113, 127) !important;
}

mat-card {
  background-color:  #000000 !important;
}

.mdc-tab__text-label {
  color: rgb(242, 242, 242) !important;
}
.mdc-tab--active.mdc-tab-indicator--active {

  .mdc-tab__text-label {
    color: rgb(63, 81, 181) !important;
  }
}

.mat-accordion {
  background-color: #000000 !important;
}
.mat-expansion-panel mat-expanded mat-expansion-panel-spacing {
  background-color: #1a1a1a !important;
}

.mat-expansion-panel-content-wrapper {
  background-color: #1a1a1a !important;
}

mat-expansion-panel-header.mat-expansion-panel-header mat-focus-indicator mat-expansion-toggle-indicator-after {
  background-color: #1a1a1a !important;
}

app-photos-list, app-view-settings {
  --mat-button-text-label-text-color: #b6b68f !important;
  --mat-button-toggle-text-color: #b6b68f !important;
  --mat-expansion-header-text-color: #b6b68f !important;
  --mat-button-toggle-text-size: 18px !important;
  --mat-expansion-header-description-color:  #b6b68f !important;
  --mat-expansion-header-text-size: 18px;

  .mat-button-toggle-button {
    font-size: 18px;
  }
}
