/* You can add global styles to this file, and also import other style files */
@use 'assets/mixin';
html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0 }
*, *::after, *:before {
  box-sizing: border-box;
}
.center {
  @include mixin.align-center;
}
