<ng-container [formGroup]="user">

<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Изменить Роль</mat-label>-->
<!--    <input matInput formControlName="role" />-->
<!--  </mat-form-field>-->

  <div>
    <app-select-role formControlName="role" [roles]="roles$ | async"></app-select-role>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Изменить Имя</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="close()">Закрыть</button>
    <button mat-button [mat-dialog-close]="data" [disabled]="!user.valid" cdkFocusInitial>Сохранить</button>
  </div>
</ng-container>
