//@use "src/assets/mixin";
@use "../../../mixins";

mat-toolbar {
  display: none;
}

.mobile {
  display: block;
}

//.example-spacer {
//  flex: 1 1 auto;
//}
.login {
  margin-left: auto;
}

.show-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  font-size: 24px;
  color: azure;
  height: 90px;
}

.go-to-start {
  cursor: pointer;
}

@include mixins.large {
  mat-toolbar {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
