<p>

  <ng-container *ngIf="showAlert$ | async; else app">
      <div class="show-alert">
        <p>Нужно авторизироваться</p>

        <button mat-icon-button class="login" [routerLink]="['auth', 'login']">
          <mat-icon>login</mat-icon>
        </button>

      </div>

  </ng-container>

  <ng-template #app>
    <mat-toolbar color="primary">
      <button mat-icon-button class="mobile">
        <mat-icon>menu</mat-icon>
      </button>
      <span>: - )</span>
      <span class="example-spacer"></span>
      <button routerLink="/entry" mat-button class="add-photo">панель управления</button>
      <span class="example-spacer"></span>
      <button *ngxPermissionsOnly="['create_user', 'edit_user']" (click)="addPhoto()" mat-button class="add-photo">
        добавить фото в галерею *
      </button>

      <span class="example-spacer"></span>
      <button *ngxPermissionsOnly="['create_user', 'edit_user']" (click)="addVideo()" mat-button class="add-photo">
        добавить видео в галерею *
      </button>

<!--      <span class="example-spacer"></span>-->
<!--      <div>is Admin:!!!! {{ checkTokenService.isAdmin$ | async }}</div>-->

      <span class="example-spacer"></span>
      <button *ngxPermissionsOnly="['create_user', 'edit_user']" (click)="addChapter()" mat-button class="add-photo">
        добавить раздел в фото-галерею *
      </button>
      <span class="example-spacer"></span>
      <button *ngxPermissionsOnly="['create_user', 'edit_user']" (click)="addChapter('video')" mat-button class="add-photo">
        добавить раздел в видео-галерею *
      </button>
      <span class="example-spacer"></span>

      <button routerLink="/gallery" mat-button class="add-photo">
        галерея *
      </button>
      <span class="example-spacer"></span>
      <button routerLink="/video" mat-button class="add-photo">
        видео галерея *
      </button>

      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <button mat-icon-button class="login" [routerLink]="['/auth', 'login']">
          <mat-icon> login</mat-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="isLoggedIn$ | async">
        <button mat-icon-button class="login" (click)="logout()">
          <mat-icon>logout!</mat-icon>
        </button>
      </ng-container>


    </mat-toolbar>
  </ng-template>
</p>

