.mobile {
  display: none;
  @media screen and (max-width) {
    display: block;
  }
}

//.example-spacer {
//  flex: 1 1 auto;
//}
.login {
  margin-left: auto;
}

.show-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  font-size: 24px;
  color: azure;
  height: 90px;
}
