<p>

  <ng-container *ngIf="showAlert$ | async; else app">
    <div class="show-alert">
      <p>Нужно авторизироваться</p>

      <button mat-icon-button class="login" [routerLink]="['auth', 'login']">
        <mat-icon>login</mat-icon>
      </button>

    </div>

  </ng-container>

  <ng-template #app>
    <mat-toolbar color="primary">
      <button mat-icon-button class="mobile">
        <mat-icon>menu</mat-icon>
      </button>
      <span>: - )</span>
      <span class="example-spacer"></span>
      <button routerLink="/entry" mat-button class="add-photo">головна</button>
      <span class="example-spacer"></span>
      <button (click)="addPhoto()" mat-button class="add-photo">
        додати фото в галерею
      </button>

      <span class="example-spacer"></span>
      <button (click)="addChapter()" mat-button class="add-photo">
        додати розділ в галерею
      </button>
      <span class="example-spacer"></span>
      <button routerLink="/gallery" mat-button class="add-photo">
        галерея рр
      </button>

      <ng-container *ngIf="!(isAuthenticated$ | async)">
        <button mat-icon-button class="login" [routerLink]="['auth', 'login']">
          <mat-icon>login</mat-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="isAuthenticated$ | async">
<!--        <button mat-icon-button class="login" [routerLink]="['auth', 'logout']">-->
        <button mat-icon-button class="login" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </ng-container>


    </mat-toolbar>
  </ng-template>
</p>

